/* small */
@media screen and (max-width: 576px) {
  ul li {
    display: none;
  }
  #menu {
    display: inline;
    color: white;
  }
  /* banner */
  .banner {
    flex-direction: column;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-text {
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .change-img,
  .excersise-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .excersise-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .img2,
  .img4 {
    grid-column: span 1;
  }
  .img5,
  .img6 {
    display: none;
  }
}

/* tab */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner-title {
    font-size: 3rem;
  }
  .banner-text {
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .change-img {
    grid-template-columns: repeat(2, 1fr);
    dosplay: grid;
  }
}
