@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.display-flex {
  display: flex;
}
header {
  background: linear-gradient(
    180deg,
    rgba(17.41, 17.41, 17.41, 1) 0%,
    rgba(119.41, 119.41, 119.41, 0) 100%
  );
}
section {
  margin-top: 100px;
}
.title {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  margin-bottom: 20px;
  padding-top: 20px;
}
.img2 {
  grid-column: span 2;
}
.text {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
  text-align: center;
}
/* body {
  background-color: black;
} */

/* navbar */

nav {
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
ul {
  /* gap: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  align-items: center;
}
ul li {
  list-style: none;
  margin-right: 40px;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
#fitness {
  font-style: italic;
  color: rgba(230, 83, 60, 1);
  font-family: Inter;
  font-style: Extra Bold Italic;
  font-size: 2.5rem;
  font-weight: 800;
  padding-left: 15px;
}
#home {
  border-radius: 46px;
  background: rgba(230, 83, 60, 1);
  padding: 8px 20px;
}
#menu {
  display: none;
  margin-right: 20px;
}
/* banner */
.banner {
  align-items: center;
  /* justify-content: space-between; */
  margin: 0 auto;
  gap: 100px;
}
.banner-title {
  color: rgba(255, 255, 255, 1);
  font-style: Black;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 20px;
}
.banner-text {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.banner-content {
  padding-left: 15px;
  /* width: 50%; */
}
.btn {
  border-radius: 42px;
  background: rgba(230, 83, 60, 1);
  color: white;
  font-size: 1.25rem;
  padding: 16px 48px;
  border: none;
}
.banner-img img {
  width: 100%;
}
.banner-img {
  /* width: 50%; */
  position: relative;
  /* display: flex;
  justify-content: end; */
}
.tooltip {
  position: absolute;
  right: 0;
  top: 35%;
  padding: 10px 25px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: white;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
}
.tooltip2 {
  position: absolute;
  padding: 10px 25px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: white;
  margin-top: -10px;
  top: 80%;
}
/* change */
.change {
  text-align: center;
  background-color: black;
  padding: 30px;
}
/* change-image */
.change-img {
  align-items: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.change-section {
  background-color: black;
  padding-top: 20px;
}
.change-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
.img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.img img {
  border-radius: 50%;
}
/* tranning & Excersise */
.excersise-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}
.tranning-section {
  background-color: black;
}
.img2 {
  grid-column: span 2;
  background-color: #ff0000;
  mix-blend-mode: multiply;
}
.img4 {
  grid-column: span 2;
}
.excersise-container img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
.text2 {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
}
.img1 {
  background-color: #1c8774;
  mix-blend-mode: multiply;
}
.img3 {
  background-color: #cccccc;
}
.img4 {
  background-color: #bbbbbb;
}
.img5 {
  background-color: #42ff00;
}
.img5 {
  background-color: #0047ff;
}
